/* /////////////////////////         Custom          \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      User Settings      ///////////////////////// */
    /* /////////////////////////       Begin Edit        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\                         ///////////////////////// */
        :root {
        /* This block is for the Homepage */
            --color-layerOne: #272b30;
            --color-layerTwo: #3d3d3d;
            --color-layerThree: #1f2125;
            --color-layerFour: #333333;
            --color-layerFive: #63a8eb;
            --color-tLayerOne: #63a8eb;
            --color-tLayerTwo: #ffffff;
    /* This block is for the Login Page */
            --color-loginLayerOne: #272b30;
            --color-loginLayerTwo: #63a8eb;
            --color-loginLayerThree: #3d3d3d;
            --color-loginLayerFour: #000;
            --color-loginLayerFive: ##63a8eb;
            --color-chatTLayerOne: #71cde5;
            --color-chatTLayerTwo: #ffffff;
    /* This block is for the Chat Page */
            --color-chatLayerOne: #3d3d3d;
            --color-chatLayerTwo: #272b30;
            --color-chatLayerThree: purple;
            --color-chatLayerFour: #337ab7;
            --color-chatLayerFive: #63a8eb;
            --color-chatTLayerOne: #63a8eb;
            --color-chatTLayerTwo: #ffffff;
    /* This block is for all the Settings and popup windows */
            --color-extraLayerOne: #272b30;
            --color-extraLayerTwo: #3d3d3d;
            --color-extraLayerThree: #6495ED;
            --color-extraLayerFour: #9680bb;
            --color-extraLayerFive: #6495ED;
            --color-extraTLayerOne: #FFFFFF;
            --color-extraTLayerTwo: #ffffff;
    /* This block is for the Calendar Color Codes */
            --color-calAvailable: #3A9E74;
            --color-calUnavailable: #664E84;
            --color-calUnreleased: #355E9A;
            --color-calPremier: #2E8092;
        }
    /* /////////////////////////         Custom          \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      User Settings      ///////////////////////// */
    /* /////////////////////////         End Edit        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\                         ///////////////////////// */
    </style>
 <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/leram84/layer.Cake/master/CSS/Custom/Global.css">  
    <!-- /////////////////////////    CSS Add-On Links     \\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\     Section Below       ///////////////////////// -->
<link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/leram84/layer.Cake/master/Add-Ons/Rounded-DL-Tabs.css">


    <!-- /////////////////////////    CSS Add-On Links     \\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\     Section Above       ///////////////////////// -->
    <style>