/*  ___                                      __ __     ____              __                 */
/* /\_ \                                    _\ \\ \__ /\  _`\           /\ \                */
/* \//\ \      __     __  __     __   _ __ /\__  _  _\\ \ \/\_\     __  \ \ \/'\      __    */
/*   \ \ \   /'__`\  /\ \/\ \  /'__`\/\`'__\/_ \ \\ \ _\ \ \/_/_  /'__`\ \ \ , <    /'__`\  */
/*    \_\ \_/\ \L\.\_\ \ \_\ \/\  __/\ \ \/  /\_   _  _\\ \ \_\ \/\ \C\.\_\ \ \\`\ /\  __/  */
/*    /\____\ \__/.\_\\/`____ \ \____\\ \_\  \/_/\_\\_\/ \ \____/\ \__/.\_\\ \_\ \_\ \____\ */
/*    \/____/\/__/\/_/ `/___/> \/____/ \/_/     \/_//_/   \/___/  \/__/\/_/ \/_/\/_/\/____/ */
/*                        /\___/                                                            */
/*                        \/__/                                                  -Hackerman */
:root {
    /* This block is for the Homepage */
            --color-layerOne: #272b30;
            --color-layerTwo: #1f2125;
            --color-layerThree: #1f2125;
            --color-layerFour: #1f2125;
            --color-layerFive: #63a8eb;
            --color-tLayerOne: #63a8eb;
            --color-tLayerTwo: #ffffff;
    /* This block is for the Login Page */
            --color-loginLayerOne: #272b30;
            --color-loginLayerTwo: #63a8eb;
            --color-loginLayerThree: #3d3d3d;
            --color-loginLayerFour: #000;
            --color-loginLayerFive: #63a8eb;
            --color-chatTLayerOne: #71cde5;
            --color-chatTLayerTwo: #ffffff;
    /* This block is for the Chat Page */
            --color-chatLayerOne: #272b30;
            --color-chatLayerTwo: #1f2125;
            --color-chatLayerThree: #9680bb;
            --color-chatLayerFour: #337ab7;
            --color-chatLayerFive: #63a8eb;
            --color-chatTLayerOne: #63a8eb;
            --color-chatTLayerTwo: #ffffff;
    /* This block is for all the Settings and popup windows */
            --color-extraLayerOne: #272b30;
            --color-extraLayerTwo: #3d3d3d;
            --color-extraLayerThree: #6495ED;
            --color-extraLayerFour: #9680bb;
            --color-extraLayerFive: #6495ED;
            --color-extraTLayerOne: #FFFFFF;
            --color-extraTLayerTwo: #ffffff;
    /* This block is for the Calendar Color Codes */
            --color-calAvailable: #3A9E74;
            --color-calUnavailable: #474747;
            --color-calUnreleased: #355E9A;
            --color-calPremier: #2E8092;
        }
    /* /////////////////////////         Custom          \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      User Settings      ///////////////////////// */
    /* /////////////////////////         End Edit        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\                         ///////////////////////// */
        .content-box.box-shadow.big-box.todo-list{
        padding: 0 !important;
    }
    </style>
<link rel="stylesheet" type="text/css" href="ajax.php?a=show-file&file=https://raw.githubusercontent.com/leram84/layer.Cake/master/CSS/Custom/Global.css">
<!--           _      _    _                     _    _      _               -->
<!--          /_\  __| |__| |___ _ _            | |  (_)_ _ | |__ ___        -->
<!--         / _ \/ _` / _` / _ \ ' \           | |__| | ' \| / /(_-<        -->
<!--        /_/ \_\__,_\__,_\___/_||_|          |____|_|_||_|_\_\/__/        -->
<!-- \/\/\/\/\/\/\/\/\/   Paste your add-on links below   \/\/\/\/\/\/\/\/\/ -->
<link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/leram84/layer.Cake/master/Add-Ons/Rounded-DL-Tabs.css">
    <script>
    $(document).ready(function(){
        $("div.profile-sidebar>img").attr("src","images/organizr-logo-h.png");
    });
    </script>
<!-- /\/\/\/\/\/\/\/\/\   Paste your add-on links above   /\/\/\/\/\/\/\/\/\ -->
<!--           _      _    _                     _    _      _               -->
<!--          /_\  __| |__| |___ _ _            | |  (_)_ _ | |__ ___        -->
<!--         / _ \/ _` / _` / _ \ ' \           | |__| | ' \| / /(_-<        -->
<!--        /_/ \_\__,_\__,_\___/_||_|          |____|_|_||_|_\_\/__/        -->
    <style>
